:root{
   --background-body: #19a2ae;
   --cor-titulos: #2d3248;
   --cor-p: #6a6f81;
}

html{
   font-size: 62.5%;
}

body{
   background-color: var(--background-body);
   font-family: "Kumbh Sans", sans-serif;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.svg-top{
   width: 200rem;
   margin-top: -140rem;
   margin-left: -45rem;
}

.svg-bottom{
   width: 200rem;
   margin-bottom: -140rem;
   margin-right: -45rem;
}

.container{
   background-color: white;
   width: 40rem;
   position: absolute;
   text-align: center;
   border-radius: 20px;
}

.container img{
   display: block;
}

.container .img-card{
   width: 100%;
   border-radius: 20px 20px 0 0;
}

.avatar{
   position: absolute;
   top: 22%;
   right: 35%;
   border-radius: 50%;
   width: 12rem;
   border: solid 8px #fff;
   
}

h1{
   margin-top: 8rem;
   font-size: 2.2rem;
   color: var(--cor-titulos)

}

h1 span{
   color: var(--cor-p);
   font-weight: 400;
}

address{
   margin: 1.5rem 0 3rem 0 ;
   font-size: 2rem;
   font-weight: 400;
   color: var(--cor-p);
}

.hr{
   border: solid 1px #2d324811;
}

.card-informs{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 3rem 0; 
}

.card-informs h2{
   font-size: 1.8rem;
   color: var(--cor-titulos);
}

.card-informs p{
   font-size: 1.2rem;
   font-weight: 400;
   letter-spacing: 2px;
   color: var(--cor-p);
   padding-top: .5rem
}

